root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{nix,json}]
indent_style = space
indent_size = 2

[*.{sh,bash}]
indent_style = tab
shell_variant = posix
simplify = true
binary_next_line = true
function_next_line = true
